@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  user-select:none;
  font-family:sans-serif;
  border: none;
  outline: none;
}
html{
  height: 100%;
  width: 100%;
}
body{
  min-height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    overflow: auto;
  padding:30px;
  -webkit-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	-moz-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
}
canvas{
  width: 100%;
  height: 100%;
}
.toolbar{
  width: 220px;
  /* height: 580px; */
  padding: 5px 15px;
  background-color: lightslategrey;
  inset-block-start: 20px;
  inset-inline-start: 20px;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  cursor: move;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.toolbar:active{
  opacity: .7;
}
.md-1{
  padding-bottom: 10px !important;
}
.toolbar .headtitle{
    margin-top: 23px;
    color:whitesmoke;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 80%;
    letter-spacing: 1px;
}
.button{
  margin-top: 25px;
  color: white;
  background-color:lightslategrey;
  border-radius: 2px;
  align-items: center;
  height: 100%;
  width: 20px;
}

.button:hover{
  background: whitesmoke;
  color:lightslategrey;
  align-items: center;
}

.toolbar .row{
  display: flex;
  width: 100%;
  min-height: 45px;
  max-height: 60px;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.toolbar .row label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}
.toolbar .row input{
  width: 100%;
  height: 100%;
  opacity: 0;
}
.toolbar .row label i{
  position: absolute;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:whitesmoke;
  border-radius: 5px;
  border:1px solid rgba(255, 255, 255, 0.5);
}
.toolbar .row label i:hover{
  color:white;
  background-color: #3333;
  border-color: black;
}
.toolbar .row label #middle{
  font-size: 40px;
}
.toolbar .row label #big{
  font-size: 65px;
}
.toolbar .save-btn{
  width: 100%;
  height: 35px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border:2px solid;
  color: #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.toolbar .save-btn:hover{
  background-color: dodgerblue;
  color: white;
  border-color: dodgerblue;
}
.mydiv{
  width: 100%;
  /* height: 100%; */
}
.informationbar{
    border:2px solid;
    height: 200px;
    width: 100%;
    margin-left:0;
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}
.informationbar .title,
.roombar .title,
.chatroom .title{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: whitesmoke;
    letter-spacing: 1px;
    
}
.roomname{
  color: white;
  text-align: left;
  font-size: 10px;
}
.information-detail p{
    font-family: 'Urbanist';
    font-weight: 400;
    color: white;
    line-height: 1.2;
    letter-spacing: 1px
}
.information-detail ul{
    margin-left: 30px;
    color: white;
    font-family: Urbanist;
    line-height: 1.2;
    letter-spacing: 1px

}

.roombar{
    border:2px solid;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}
.chatroom{
  /* border:2px solid rgba(255, 255, 255, 0.5); */
  position: relative;
}

.chatroom input{
  width: 100%;
  /* height: 75px; */
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.chatroom input[type=text] {
  width: 100%;
  font-family: 'Poppins';
  color: whitesmoke;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding: 10px
}

.chatroom button {
  /* position: absolute; */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  float: right;
  font-family: Fredoka;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgba(255, 255, 255, 0.5);
}
