@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,400&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  user-select:none;
  font-family:sans-serif;
  border: none;
  outline: none;
}
html{
  height: 100%;
  width: 100%;
}
body{
  min-height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
canvas{
  width: 100%;
  height: 100%;
}
.toolbar{
  width: 200px;
  height: 550px;
  padding: 5px 15px;
  background-color: lightslategrey;
  inset: 0px;
  position: absolute;
  inset: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  cursor: move;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.toolbar:active{
  opacity: .7;
}
.toolbar .headtitle{
    color:whitesmoke;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 80%;
    letter-spacing: 1px;
}
.toolbar .row{
  display: flex;
  width: 100%;
  min-height: 45px;
  max-height: 60px;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.toolbar .row label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}
.toolbar .row input{
  width: 100%;
  height: 100%;
  opacity: 0;
}
.toolbar .row label i{
  position: absolute;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:whitesmoke;
  border-radius: 5px;
  border:1px solid rgba(255, 255, 255, 0.5);
}
.toolbar .row label i:hover{
  color:white;
  background-color: #3333;
  border-color: black;
}
.toolbar .row label #middle{
  font-size: 40px;
}
.toolbar .row label #big{
  font-size: 65px;
}
.toolbar .save-btn{
  width: 100%;
  height: 35px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border:2px solid;
  color: #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.toolbar .save-btn:hover{
  background-color: dodgerblue;
  color: white;
  border-color: dodgerblue;
}

.informationbar{
    border:2px solid;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.5);
}
.informationbar .title,
.roombar .title{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: whitesmoke;
    letter-spacing: 1px;
    
}

.information-detail p{
    font-family: 'Urbanist';
    font-weight: 400;
    color: white;
    line-height: 1.2;
    letter-spacing: 1px
}
.information-detail ul{
    margin-left: 30px;
    color: white;
}

.roombar{
    
    border:2px solid;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.5);
}

.toolbar.responsive .roombar,
.toolbar.responsive .informationbar {
 display: none !important;
}